<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/storejwt.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Open Sans,Helvetica,sans-serif;
            background: #03B3E4;
            color: white;
        }
    </style>
</head>
<body>
    <h1>welcome</h1>
</body>
</html>